@use "_common" as c;
@use "global/_variable" as v;
// font-family: v.$serif;
// @include c.mq(lg)


/*************************************************
top
*************************************************/
// kv
.kv{
  height: 100vh;
  width: 100vw;
  background: url(../images/fv_01.png) no-repeat;
  background-size: 55%;
  background-position: top right;
  position: relative;
  @include c.mq(sm){
    // background-size: 200%;
    background-position: top center;
    background: url(../images/sp-fv-bg.png) no-repeat;
    background-size: auto;
  }
  .logo{
    width: 15%;
    max-width: 210px;
    min-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    @include c.mq(lg){
      left: 46%;
      
    }
    @include c.mq(sm){
      width: 40%;
      max-width: none;
      min-width: auto;
    }
    img{
      object-fit: contain;
    }
  }
  .scrolldown1{
    writing-mode: vertical-rl;
    position: absolute;
    bottom: 5%;
    right: 1%;
    p{
      font-size: 1.2rem;
    }
    span{
      position: absolute;
      bottom: -129%;
      left: 40%;
      &::before {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 0;
        // left: -4px;
        left: 0;
        /*丸の形状*/
        width: 2px;
        height: 10px;
        // border-radius: 50%;
        background: #fff;
        z-index: 20;
        /*丸の動き1.6秒かけて透過し、永遠にループ*/
        animation:
          circlemove 2s ease-in-out infinite,
          cirlemovehide 2s ease-out infinite;
      }
      &::after{
        content:"";
          /*描画位置*/
        position: absolute;
        bottom:0;
        left:0;
          /*線の形状*/
        width:1px;
        height: 80px;
        background:#333;
      }
    }
  }
}
/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 80px;
  }

  100% {
    bottom: -5px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}
//見出し
.jose{
  font-family: v.$jose;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
/*=============================== 
          concept
=================================*/
.top-concept{
  margin-top: 12rem;
  text-align: center;
  
  h2{
    font-size: 2.7rem;
    font-weight: 500;
    color: c.$db;
    font-family: v.$serif;
    letter-spacing: .2em;
    margin-top: 4rem;
    line-height: 1.8;
  }
  .txtarea{
    margin-top: 4rem;
    @include c.mq(sm){
      width: 90%;
      margin: 4rem auto;
    }
    p{
      font-size: 1.4rem;
      font-weight: 200;
      line-height: 2;
      margin-bottom: 3.6rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
/*=============================== 
          banner
=================================*/
.top-banner{
  background: #F5F6F4;
  padding: 8rem;
  margin: 8rem 0;
  width: 100vw;
  @include c.mq(sm){
    padding: 3.5rem 0;
  }
  .container{
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    column-gap: 5%;
    @include c.mq(sm){
      flex-direction: column;
      width: 90%;
      margin:  0 auto;
      row-gap: 4.3rem;
      align-items: center;
    }
  }
  .box{
    overflow: hidden;
    position: relative;
    height: 220px;
    min-width: 380px;
    transition: .5s;
    @include c.mq(sm){
      min-width: auto;
      height: 175px;
      width: 320px;

    }
    &::after{
      transition: .4s;
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../images/banner01.jpg) no-repeat;
      padding: 1.2rem 0;
      background-size: cover;
      background-position: center;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
  
  .banner{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    .logo-inner{
      width: 45%;
      padding-left: 2rem;
      margin-top: 1.5rem;
      @include c.mq(sm){
        width: 47%;
      }
    }
    .item{
      font-size: 1rem;
      border: 1px solid #fff;
      padding: .2rem .5rem;
      color: #fff;
      width: fit-content;
      margin-left: 2rem;
      margin-top: 1.1rem;
      @include c.mq(sm){
        font-size: .7rem;
        margin-left: 1.8rem;
      }
    }
    .container{
      display: flex;
      margin-top: 9.5rem;
      column-gap: 3.3rem;
      justify-content: flex-start;
      @include c.mq(sm){
        flex-direction: row;
        margin: 6rem auto 0 0;
        width: 100%;
        justify-content: space-between;
      }
      p{
        background: #fff;
        color: #664070;
        font-family: v.$serif;
        font-size: 2rem;
        padding-left: 2rem;
        @include c.mq(sm){
          font-size: 1.5rem;
          padding-left: 1.6rem;
        }
      }
      .arrow{
        width: 3.2rem;
        transition: .4s;
        @include c.mq(sm){
          width: 2.5rem;
          margin-right: 2rem;
        }
      }
    }
  }
  .box:last-child{
    &::after{
      background-image: url(../images/banner02.jpg);
    }
    .banner{
      text-align: left;
      .container{
        margin-top: 8rem;
        align-items: flex-end;
        @include c.mq(sm){
          margin-top: 6rem;

        }
      }
      p{
        font-size: 1.6rem;
        width: fit-content;
        padding: 1px 1rem 0 2rem;
        @include c.mq(sm){
          font-size: 1.2rem;
          line-height: 1.8;
          padding: 2px 1rem 0 1.7rem;

        }
      }
    }
  }
  .box:hover{
    opacity: 1;
    border-radius: 10px;
    &::after{
      opacity: 1;
      transform: scale(1.05);
    }
    .container{
      .arrow{
        transform: translateX( 2.6rem);
      }
    }
  }
}
/*=============================== 
          product 製品
=================================*/
.top-product{
  margin-top: 2rem;
  .container{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
    margin-top: 6.8rem;
    gap: 7vw 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(auto-fit, 100px);
    justify-items: center;
    @include c.mq(sm){
      grid-template-columns: 1fr;
      gap: 20vw 0
    }
    .product-item{
      flex-basis: 47%;
      max-width: 330px;
      .img{
        img{
          height: 280px;
          object-fit: contain;
          object-position: top;
        }
      }
      ul{
        li{
          text-align: center;
          h3{
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .price{
          font-size: 1.4rem;
          margin-top: 1vw;
          @include c.mq(sm){
            margin-top: 4vw;
          }
          span{
            font-size: 1rem;
            padding-left: .5rem;
          }
        }
        .post{
          font-size: 1rem;
          border: 1px solid #000;
          padding: 2px 1rem;
          width: fit-content;
          margin: .6vw auto;
          @include c.mq(sm){
            margin-top: 2vw;
          }
        }
        .link{
          display: flex;
          justify-content: space-evenly;
          margin-top: .8vw;
          @include c.mq(sm){
            margin-top: 2vw;
          }
          .tgl{
            position: relative;
            font-size: 1.4rem;
            &::before{
              content: '';
              width: 8.5px;
              height: 8px;
              background: url(../images/tggl-r.png) no-repeat;
              background-size: contain;
              display: inline-block;
              position: absolute;
              left: -1.2rem;
              top: 50%;
              transform: translateY(-50%);
              transition: .3s;
            }
          }
          a:hover{
            .tgl::before{
              left: -.8rem;
              color: #404284;
            }
          }
        }
      }
    }
    .gift{
      .img{
        position: relative;
        p{
          position: absolute;
          background: #A31623;
          color: #fff;
          font-size: 1.2rem;
          top: 0;
          padding: 5px 1rem;
          font-weight: 600;
        }
      }
    }
  }
}
/*=============================== 
          footer
=================================*/
footer{
  background: url(../images/footer.jpg) no-repeat;
  object-fit: cover;
  padding: 8rem 0 2rem;
  margin-top: 15rem;
  .container{
    display: flex;
    color: #fff;
    column-gap: 1vw;
    @include c.mq(sm){
      flex-direction: column;
      row-gap: 3rem;
      // align-items: center;
    }
    p,h3,li{
      font-size: 1.4rem;
      letter-spacing: .1em;
      font-weight: 200;
    }
    a{
      display: inline;
      font-size: 1.4rem;
      letter-spacing: .1em;
      font-weight: 200;
    }
    .box{
      @include c.mq(sm){
        // text-align: center;
      }
      h2{
        width: 50%;
        @include c.mq(sm){
          // margin: 1rem auto;
        }
      }
      h3{
        margin-top: 4rem;
      }
      .adress{
        margin-top: 2rem;
      }
      .info{
        margin-top: 2rem;
        li{
          line-height: 1.7;
        }
      }
      nav{
        ul{
          li{
            margin: 1rem 0;
            padding-left: 2rem;
          }
        }
        .tgl{
          letter-spacing: 0;
          position: relative;
          &::before{
            content: '';
            width: 5px;
            height: 8px;
            background: url(../images/w-tgl-r.png) no-repeat;
            position: absolute;
            background-size: contain;
            top: 50%;
            left: -1.6rem;
            transform: translateY(-50%);
            transition: .3s;
          }
        }
      }
      a:hover{
        &::before{
          left: -1rem;
          // left: auto;
        }
      }
    }
    .box:first-child{
      padding-left: 5vw;
      @include c.mq(sm){
        padding: 0 0 3rem 0;
        border-bottom: 1px solid #fff;

      }
    }
  }
  .copy{
    font-size: 1rem;
    text-align: center;
    color: #fff;
    margin-top: 8rem;
  }
}
//ぼかしから出現
.blurTrigger,.blurslowTrigger{
  opacity: 0;
}
/* ぼかしから出現 */
.blur{
	animation-name:blurAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

.delay2{
  animation-delay: .2s;
}
.delay4{
  animation-delay: .4s;
}
.delay6{
  animation-delay: .6s;
}
@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
  opacity: 0;
  }

  to {
	filter: blur(0);
	transform: scale(1);
  opacity: 1;
  }
}
.blurslow{
	animation-name:blurAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
}